:root {
  /* --main-sidebar-bgcolor: rgba(0, 40, 104, 1); 
   */
   --main-sidebar-bgcolor: white; 
   --main-div-bgcolor: whitesmoke; 
  }


.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideBar{
  background-color: var(--main-sidebar-bgcolor) ;
  height: 42em;
}
.nopadding{
  padding-left: 0px;
  padding-right: 0px;

}
.mb-4, .my-4 {
  margin-bottom: 0px !important;
}
.userList{
 list-style: none;
 padding: 21px 0px 0px 32px;
}
.userList>li{
padding: 10px;
}
.imgCir{
  height: 41px;
  width: 42px;
  border-radius: 50%;
}

.use-name{
  padding-left: 18px;
}
.right-text{
  text-align: right;
  padding-right: 26px;
}
.left-text{
  text-align:left;
  padding-left: 26px;
}
.cus-sc{
  overflow-y: scroll;
  height:90vh;
  background-color: var(--main-div-bgcolor);
}
.right-msg-bg{
  min-width: 3em;
  padding: 1px 13px 2px 14px;
  border-radius: 18%;
  background-color: #e0f2f1;
}
.left-msg-bg{
  min-width: 3em;
  padding: 1px 13px 2px 14px;
  border-radius: 18%;
  background-color: white;
}
.asd{
  background-color: white;
  border-right: 2px solid darkgray;
}
.center-text{
  text-align: center;
}
.c-btn{
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.pad-9{

  padding: 9px;

}
.on-mobile{
  display: none;

}

@media (max-width: 768px){
  .side-chat {
    display: none;
  }
  .on-mobile{
    display: block;
 
  }
}
